@import "../../breakpoints";


.pricing-section{
    width: 100%;
    // height: 90vh;
    min-height: 90vh;

    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    // background-color: green;

    .pricing-wrapper{
        width: 80%;
        height: 100%;
        // background-color: gray;
        margin: 0 auto;

        display: flex;
        align-items: center;

        .pricing-main{
            width: 100%;
            height: 80%;
            // background-color: blue;

            display: flex;
            gap: 3vw;

            @include breakpoint-belowfifteen{
                flex-direction: column;
                // justify-content: center;
                align-items: center;
            }

            .pricing-main-left{
                width: 40%;
                // background-color: orange;
                @include breakpoint-belowfifteen{
                    width: 80%;
                }

                @include breakpoint-sm{
                    width: 100%;
                    
                }
                
                // height: 100%;
                // background-color: bisque;

                .pricing-main-left-up{
                    width: 100%;
                    height: 50%;
                    padding: 3rem;

                   
                    
                    
                    h1{
                        font-size: var(--font-size-lg);
                        font-family: var(--primary-font);
                        margin-bottom: 1.5rem;
                    }
                    p{
                        font-size: var(--font-size-base);
                        font-family: var(--secondary-font);
                        width: 75%;
                        line-height: 150%;
                        color: var(--gray-black);

                        @include breakpoint-sm{
                            width: 90%;
                            
                        }
                    }
                }

                .pricing-main-left-down{
                    width: 100%;
                    height: 50%;
                    background-color: var(--white);
                    border-radius: 2rem;
                    padding: 0 3rem;

                    @include breakpoint-belowfifteen{
                        padding: 3rem;
                    }

                    
                    

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 3rem;

                    h2{
                        font-size: var(--font-size-lm);
                        font-family: var(--primary-font);
                        width: 75%;
                    }
                }
            }
            .pricing-main-right{
                
                width: 60%;
                height: 100%;
                background-color: var(--white);
                border-radius: 2rem;
                padding: 3rem 7rem;
                display: flex;
                flex-direction: column;
                gap: 2vw;
                // background-color: yellow;

                @include breakpoint-belowfifteen{
                    width: 80%;
                }

                @include breakpoint-sm{
                    width: 100%;
                    padding: 3rem 2rem;
                }

                h3{
                    font-size: var(--font-size-med);
                    font-family: var(--primary-font);
                }

                p{
                    font-size: var(--font-size-base);
                    font-family: var(--secondary-font);
                    width: 75%;
                    line-height: 150%;
                    color: var(--gray-black);
                    @include breakpoint-sm{
                        width: 90%;
                        
                    }
                }

                .unlimited-request-div{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex: 2;
                    // background-color: blue;

                    @include breakpoint-md{
                        flex-direction: column;
                        gap: 2vw;
                    }

                    

                    .unlimited-request-div-line{
                        width: 80%;
                        // background-color: red;

                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        @include breakpoint-belowfifteen{
                            width: 80%;
                        }
                        @include breakpoint-lg{
                            width: 100%;
                        }
                        @include breakpoint-md{
                            flex-direction: column;
                            gap: 2vw;
                        }
                    }
                }

                .price-button{
                    border-radius: 1rem;
                    // background-color: var(--gray-price);
                    flex: 2;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    // padding: 0 4rem;

                    .price-pricing-div{
                        display: flex;
                        align-items: flex-end;
                        justify-content: end;
                        // background-color: red;
                        
                        @include breakpoint-sm{
                            padding: 3rem 0;
                        }
                        
                        gap: 0.5rem;
                        h1{
                            font-size: var(--font-size-xl);
                            font-family: var(--secondary-font);

                            @include breakpoint-sm{
                                font-size: var(--font-size-lm);
                                font-family: var(--secondary-font);
                            }
                        }
                        p{
                            padding-bottom: 1.5rem;
                            @include breakpoint-sm{
                                padding-bottom: 0;
                            }
                        }
                    }

                }
                
            }
        }
    }
}

.unlimited-request{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    cursor: pointer;
    // margin-right: 5vw;
    h6{
        font-size: var(--font-size-base);
        font-family: var(--secondary-font);
        font-weight: 400;
        
    }

    @include breakpoint-md{
        width: 100%;
    }
}