@import "../../breakpoints";

.get-in-touch{
    width: 100%;
    // height: 100vh;
    // background-color: red;
    // background-color: gray;
    position: relative;
    z-index: 10;
    border-top: 1px solid #d6dded9e;
    margin-top: 10vh;
    // padding-top: 10vh;

    .get-in-touch-wrapper{
        // background-color: gray;
        width: 50%;
        height: 100%;
        margin: 0 auto;

        @include breakpoint-belowfifteen{
            width: 60%;
        }

        @include breakpoint-lg{
            width: 70%;
        }
        @include breakpoint-md{
            width: 80%;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 7vw;
        
        @include breakpoint-md{
            justify-content: space-around;
            
        }
        h2{
            font-size: var(--font-size-lg);
            font-family: var(--primary-font);
            text-align: center;
            // height: 25%;
            width: 100%;

            @include breakpoint-md{
                // height: 20%;
                // background-color: yellow;
                
            }
            // background-color: gray;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        form{
            // height: 75%;
            @include breakpoint-md{
                // height: 70%;
                // background-color: yellow;
            }
            // background-color: yellow;

            label{
                font-size: var(--font-size-base);
                font-family: var(--secondary-font);
                font-weight: 600;
                padding: 0 0.5vw;

            }
            input{
                width: 100%;
                // height: 10vh;
                margin-bottom: 5vh;
                @include breakpoint-md{
                    margin-bottom: 2vh;
                }
                margin-top: 0.4vw;
                outline: none;
                border: none;
                padding: 1vw 2vw;
                border-radius: 0.5vw;
                font-size: var(--font-size-sm);
                font-family: var(--secondary-font);
                background-color: transparent;
                border: 1px solid #D6DDED;

                transition: background-color ease 0.3s, border ease 0.3s;

                &:focus{
                    background-color: var(--white);
                    border: 1px solid #9398a1;
                }

                &:hover{
                    border: 1px solid #9398a1;
                }
            }



            #message{
                max-width: 100%;
                min-width: 100%;
                margin-bottom: 2vh;
                margin-top: 0.3vw;
                outline: none;
                border: none;
                padding: 1vw 2vw;
                border-radius: 0.5vw;

                font-size: var(--font-size-sm);
                font-family: var(--secondary-font);
                line-height: 150%;

                resize: none;
                overflow-y: auto;
                

                background-color: transparent;
                border: 1px solid #D6DDED;

                transition: background-color ease 0.3s, border ease 0.3s;

                &:focus{
                    background-color: var(--white);
                    border: 1px solid #9398a1;
                }

                &:hover{
                    border: 1px solid #9398a1;
                }
            }
        }
    }
}